<form action='/home/crawling'>
    <input type="text" name="want" placeholder="크롤링 원하는 단어"><br>
    <input type="text" name="no_want" placeholder="크롤링 원하지 않는 단어"><br>
    <input type="submit" value="크롤링하기"><br>
</form>
<!--
네이버에서 검색하기 까지 완성
미션
1. 원하지 않는 검색어 & 날짜(최근한달) 설정 해야 한다. => 날짜설정은 뺌, 실시간 할거니!! 
2. 블로그 및 카페를 다 돌아다니며, 링크를 퍼와야 한다. 
    => 페이지 별로 긁어오지 아직 적용 안함.
    => 겹치는 db는 긁어오지 않기 안함. 
3. 실시간으로 10분에 한번에 크롤링을 해야한다!!

-->